header {
    margin: 80px auto 90px auto;
    display: table;
}

header>img {
    width: 100%;
}

#my-image {
    width: 100%;
}

.about-me {
    position: relative;
}

.section-text {
    position: absolute;
    width: 60%;
    height: 80%;
    top: 0;
    margin: 0.9em;
    padding: 0.6em;
}

.section-text>* {
    padding-bottom: 10px;
}

.quote {
    display: table;
    margin: 0 auto;
    padding: 30px 80px;
}

.quote>h1,
.quote>p {
    text-align: center;
    padding: 5px;
}


/* Second Section -- Github */

.column {
    margin: 0 auto;
    display: table;
}

.card {
    margin: 1em;
    padding: 1.5em;
}

.card>* {
    padding: 5px;
    margin: 5px;
}

.more-repo {
    display: table;
    margin: 0 auto;
    padding: 20px 0;
}


/* Table */

#allrepos-title {
    text-align: center;
    padding: 20px;
}

table {
    display: table;
    margin: 0 auto;
}

table,
tr,
th,
td {
    padding: 5px;
}

.section-header {
    background: border-box;
}

.input-field {
    display: block;
    padding: 5px 0px;
}

.form-button {
    padding: 5px 60px 5px 60px;
    margin: 10px 0;
    float: left;
}

.footer-top {
    padding: 10px
}

.footer-bottom {
    font-size: 0.9em;
    padding: 10px;
    margin-top: 10px;
}


/* Screen Greater than 480 px*/

@media screen and (min-width: 480px) {
    .section-text {
        margin: 55px;
        padding: 50px;
    }
    .row {
        float: left;
    }
}


/*Screen greater than 768px*/

@media screen and (min-width: 768px) {}


/*Screen greater than 992px*/

@media screen and (min-width: 992px) {}


/*Screen greater thab 1200 px*/

@media screen and (min-width: 1200px) {}