header {
    margin: 80px auto 90px auto;
    display: table;
}

#my-image {
    width: 100%;
}

.about-me {
    position: relative;
}

.section-text {
    position: absolute;
    width: 60%;
    height: 80%;
    top: 0;
    margin: 55px;
    padding: 50px;
}

.quote {
    display: table;
    margin: 0 auto;
    padding: 30px 80px;
}

.quote>h1,
.quote>p {
    text-align: center;
    padding: 5px;
}


/* Second Section -- Github */

.column {
    margin: 0 auto;
    display: table;
}

.row {
    float: left;
    margin-right: 20px;
}

.card,
.card>* {
    padding: 20px;
}

.more-repo {
    display: table;
    margin: 0 auto;
    padding: 20px 0;
}