body{
    background-color: #000;
}
#one, header{
    background-color: #000;
    
}

#one a, header a{
    background-color: transparent;
    color: #ddd;
}

/* What you do? What I do ;p */
.section{
    background-color: #0F1419;
    color: #aaa;
}

false {
    background-color: #000;
}

.block p {
    font-size: 1rem;
}

.section-title {
    font-size: 2.4rem;
    color: #ddd;
}

.link {
    border-radius: 5px;
    /* background-color: #292f33; */
}

.card .name {
    text-transform: uppercase;
    color: #fff;
  }

  .my-works a {
    color: #fff;
  }
  

  .link-to-repo,
.more-repo {
  color: turquoise;
}

.all-about-me{
font-style: normal;
font-size: 25px;
letter-spacing: -.02em;
text-transform: none;
line-height: 1.5em;
}


.input-field{
background-color: transparent;
border: 1px solid turquoise;
color: white;
padding: 10px;
display: table;
margin: 21px auto;
text-align: justify;
width: 100%;
}

.more-repo {
    border: 1px solid #fff;
    /* border-radius: 1px; */
    font-size: medium;
    background-color: transparent;
}
.github-link{
    border: 2px solid #fff;
}

#one a:hover{
    color: #fff;
}

.link, .more-repo, .social-links{
    transition: all .2s ease-in-out; 
}
 .more-repo:hover
 {
    box-shadow: 2px 2px 20px rgba(61, 51, 42, 0.3);
    transform: scale(1.01); 
    cursor: pointer;
}
.card-left{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15px 0 0 15px;
    padding: 15px 0 15px 25px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.card-left:hover{
    cursor: pointer;
    transform: translateX(-10px);
}

.input-field:focus{
    outline: turquoise;
    border: 1px solid turquoise;
}
/* Screen Greater than 480 px*/

@media screen and (min-width: 480px) {
    .section-header {
        font-size: xx-large;
    }
    .section-text>p {
        font-size: 2em;
    }
}


/*Screen greater than 768px*/

@media screen and (min-width: 768px) {}


/*Screen greater than 992px*/

@media screen and (min-width: 992px) {}


/*Screen greater thab 1200 px*/

@media screen and (min-width: 1200px) {}

.footer-bottom{
    color: white;
    background-color: #000;
    text-align: center;
    padding: 20px;
}